<template>
  <div class="__modal-overlay" v-if="visible">
    <div class="__modal">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'Modal',
  created() {
    this.$on('v-modal::init-show', () => {
      this.show();
    });

    this.$on('v-modal::init-hide', () => {
      this.hide();
    });
  },
  data() {
    return {
      visible: false,
    };
  },
  props: {
    id: {
      type: String,
    },
  },
  methods: {
    show() {
      this.$root.$emit('v-modal::before-show');
      this.visible = true;
      const payload = {
        id: this.id,
      };
      this.$root.$emit('v-modal::show', payload);
    },
    hide() {
      this.$root.$emit('v-modal::before-hide');
      this.visible = false;
      const payload = {
        id: this.id,
      };
      this.$root.$emit('v-modal::hide', payload);
    },
  },
});
</script>
